<html>

<body>
  <h2>create snippet</h2>
  <form method="POST" action="/snippet/create">
    <textarea name="code" rows="40" cols="80"></textarea>
    <input type="text" name="mode"/>
    <input type="submit" value="ok"/>
  </form>
  
</body>

</html>
