<h2>create snippet</h2>
<form method="POST" action="/snippet/create">
  <textarea name="code" rows="20" cols="60"></textarea><br />
  <input type="text" name="mode"/>
  <input type="submit" value="ok"/>
</form>
